fastapi
uvicorn
python-dotenv

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq
langchain-classic

chromadb

sentence-transformers

unstructured
markdown

pydantic
requests